{% extends 'base.html' %}
{% block content %}
<div id="layout" class="pb-8">
    <h1 class="text-6xl sm:text-8xl text-white font-extrabold py-6 px-4">{{today}}</h1>
    <div class="sm:flex sm:flex-row">
        <div class="grow flex justify-center">
            <div>
                <h2 class="text-xl p-2 text-white font-medium">Individual Order</h2>
                <table class="sm:m-6 table bg-white rounded-xl shadow-xl">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Dish</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in all_orders %}
                        <tr>
                            <td>{{ order['owner']|capitalize }}</td>
                            <td>{{ order['name']|capitalize | replace("_", " ") }}</td>
                            <td>{{ order['quantity'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="grow flex justify-center">
            <div> 
                <h2 class="text-xl text-white font-medium p-2">Total Order</h2>
                <table class="table bg-white rounded-xl shadow-xl sm:m-6">
                    <thead>
                        <tr>
                            <th>Dish</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in grouped %}
                        <tr>
                            <td>{{ order['name'] | capitalize | replace("_", " ") }}</td>
                            <td>{{ order['quantity'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}
