{% extends 'base.html' %}
{% block content %}
<div id="layout" class="sm:flex sm:flex-row pb-8">
    <div class="sm:basis-60 flex justify-center">
        <h1 class="text-6xl sm:text-8xl tracking-tighter text-white font-extrabold p-4 sm:p-6">Gandhi Menu</h1>
    </div>
    <div id="menu" class="sm:grow max-w-screen-sm mx-auto p-2 sm:p-12">
        {% for category in menu_items %}
        <div class="py-2">
            <div class="collapse shadow bg-white hover:shadow-xl transition ease-in-out">
                <input type="checkbox" />
                <div class="collapse-title text-md font-medium flex justify-between">
                    {{ category }}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>
                <div class="collapse-content" >
                    <div class="overflow-x-auto">
                        <table class="table table-xs">
                            <tbody>
                                {% for item in menu_items[category] %}
                                <tr id="{{ item['Dish'] | lower | replace(' ', '_')}}" class="hover:bg-orange-100 hover:cursor-pointer transition ease-in-out">
                                    <td class="name">{{ item['Dish']|capitalize }}</td>
                                    <td class="description">{{ item['Description'] }}</td>
                                    <td class="price">{{ item['Price'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="sm:fixed sm:bottom-12 sm:left-12 flex justify-center">
    <div class="rounded-lg p-12 w-80 bg-white p-4 shadow-xl flex flex-col" id="basket">
        <h2 class="text-xl font-bold">Selected Dishes</h2>
        <div class="flex justify-center">
            <ul class="list-disc p-2 grow"></ul>
        </div>
        <div class="py-4">
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" id="owner" placeholder="Username" />
            </label>
        </div>
        <button class="btn bg-gradient-to-r from-pink-500 to-orange-500 text-white text-xl hover:shadow transition ease-in-out" id="order-button">Add to command</button>
    </div>
</div>


<script>
    menu = document.getElementById("menu");
    basket = document.getElementById('basket');
    items = menu.querySelectorAll('tr');
    items.forEach(item => {
        item.addEventListener('click', () => {
            item.classList.toggle('selected');
            if (document.getElementById(`quantity-${item.id}`)) {
                const quantity = document.getElementById(`quantity-${item.id}`);
                quantity.textContent = parseInt(quantity.textContent) + 1;
            } else {
                item_ = document.createElement('li');
                item_.id = `li-selected-${item.id}`;
                item_.classList.add('flex', 'flex-row', 'p-2', 'justify-between');

                const item_quantity = document.createElement('span');
                item_quantity.id = `quantity-${item.id}`;
                item_quantity.textContent = 1;
                item_quantity.classList.add('quantity', 'text-lg', 'font-bold');
                item_.appendChild(item_quantity)

                const item_name = document.createElement('span');
                item_name.textContent = item.querySelector('.name').textContent;
                item_.appendChild(item_name);

                const plus_minus = document.createElement('span');
                plus_minus.classList.add('flex', 'flex-row', 'gap-2');
                const plus = document.createElement('span');
                plus.id = `plus-${item.id}`;
                plus.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    `;
                plus.classList.add('cursor-pointer', 'hover:text-green-500', 'transition', 'ease-in-out');
                plus.addEventListener('click', () => item_quantity.textContent = parseInt(item_quantity.textContent) + 1);

                const minus = document.createElement('span');
                minus.id = `minus-${item.id}`;
                minus.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    `;
                minus.classList.add('cursor-pointer', 'hover:text-pink-500', 'transition', 'ease-in-out');
                minus.addEventListener('click', () => {
                    if (parseInt(item_quantity.textContent) > 1) {
                        item_quantity.textContent = parseInt(item_quantity.textContent) - 1;
                    } else {
                        const to_remove = document.getElementById(item_quantity.id.replace('quantity-', 'li-selected-'));
                        to_remove.remove();
                    }
                });

                plus_minus.appendChild(plus);
                plus_minus.appendChild(minus);
                item_.appendChild(plus_minus);
                basket.querySelector('ul').appendChild(item_);
            }
        });
    });

    order = document.getElementById('order-button');
    const cookies = document.cookie;
    if (cookies.includes('gandhi-username')) {
        document.getElementById('owner').value = cookies.split('gandhi-username=')[1].split(';')[0];
    }

    order.addEventListener('click', () => {
        owner = document.getElementById('owner').value;
        document.cookie = `gandhi-username=${owner}`;
        const selected_items = Array.from(basket.querySelectorAll('.quantity'));
        command = selected_items.map(item => `${item.id.replace('quantity-', '')}_${item.textContent}`);
        const items = command.length ? "&items=" + command.join(','): '';
        document.location.href = `/order?owner=${owner}${items}`
    });

</script>
{% endblock %}
